h1, h2, h3, h4 {
    text-align: center;
}

input {
    outline: none;
    border: none;
    height: 32px;
}
.optionBtn, .plusBtn {
    border: none;
    outline: none;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    position: relative;
}

.optionBtn:hover, .plusBtn:hover {
    background-color: lightgrey;
}
/* to make a div overlap another => use z-index */
.book-options-box {
    width : 300px;
    /* height: 50vh; */
    background-color: lightgray;
    position: absolute;
    top: 40px;
    right: 10px;
    z-index: 10;
}

.book-option {
    background: white;
    border: none;
    outline: none;
}


.btn {
    border:none;
    outline:none;
    background-color: white;
    width:30px;
    height: 30px;
    border-radius: 50%;
}

.plusBtn {
    width: 32px;
    height: 32px
}

.titleBox {
    border: 1px solid black;
}

.number {
    width:20px
}